<div class="container">
  <div class="row justify-content-center g-3 align-items-center">
    <div class="col-md-4 bg-white border border-2 rounded-2">
      <h3 class="fw-bold text-center text-dark">Login</h3>
      <form class="needs-validation m-2" novalidate>
        <div class="m-2">
          <label for="inputEmail" class="form-label text-black fw-bold"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Ingrese su Email"
            required
          />
          <div class="valid-feedback my-2">Correcto!</div>
          <div class="invalid-feedback my-2">
            Por favor coloque un email Valido.
          </div>
        </div>

        <div class="m-2">
          <label for="inputPassword" class="form-label text-black my-2 fw-bold"
            >Contraseña</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Ingrese su contraseña"
            required
          />

          <div id="passwordHelpInline" class="form-text my-2"></div>
          <div class="valid-feedback my-2">Correcto!</div>
          <div class="invalid-feedback text-center my-1">
            Contraseña debe tener entre 8 y 20 caracteres de longitud.
          </div>
        </div>

        <div class="d-grid gap-3 my-4 mx-2">
          <button class="btn btn-primary" type="submit" (click)="onSubmit()">
            Sign in
          </button>
        </div>
        <div class="text-black text-center my-3">
          Don't have an account? <a href="/register">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
