:root {
  --color-magenta: hsl(293, 83%, 57%);
  --color-titulares-ranking: #800020c4;
  --color-canchas-background: #3f48cc;
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
  color: white !important;
  background-color: var(--color-magenta);
  border-radius: 7px;
  font-weight: bold;
}



li a:hover {
  color: white !important;
  background-color: var(--color-magenta, #a025b6) !important;
  font-weight: bold;
  border-radius: 5px;
}